* {
    margin:0;
}

html, body {
	background-color:gray;
	min-width:65rem;
    height:100%;
}

.headerContent {
	background-color:black;
	color:white;
	height:7rem;
}

.nonFooter {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin: 0 auto -2rem;
}

.pushFooter {
	color:white;

    height:2rem;
}

.footerContent {
	background-color:black;
	color:white;

    height:2rem;
}

#aboveHeaderLeftLogo {
	background-color:white;
	margin:.1rem;
	width:10rem;
	height:95%;
	font-size:2rem;
	text-align:center;
	float:left;
	cursor:pointer;

	color:green;
	text-decoration:none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#aboveHeaderRightLogo {
	background-color:white;
	margin:.1rem;
	margin-top: 3.5rem;
	font-size:1rem;
	text-align:center;
	float:right;
}

#aboveHeaderRightSide {
	background-color:pink;
	float:right;
	height:100%;
}

#aboveHeaderBar {
	background-color:green;
	color:green;
	height:70%;
}

.headerNavigationBar {
	background-color:red;
	color:white;
	height:30%;
}

.headerNavigationButton {
	float:left;
	background-color:blue;
	color:white;
	width:10rem;
	height:100%;
	text-align:center;
	margin-right:0.3rem;
	cursor:pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.headerNavigationButton:hover {
	background-color:white;
	color:blue;
}

.headerNavigationButtonWithArrow {
	float:left;
	background-color:blue;
	color:white;
	width:10rem;
	height:100%;
	text-align:center;
	margin-right:0.3rem;
	cursor:default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.headerNavigationButtonWithArrow:hover {
	background-color:white;
	color:blue;
}

.buttonText {
	padding-top:.5rem;
}

.buttonTextWithArrow {
	padding-top:.47rem;
	width:5rem;
	margin-left:auto;
	margin-right:auto;
}

.buttonArrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
	float:right;
	margin-top:.4rem;
}

.buttonArrowHovered {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid blue;
	float:right;
	margin-top:.4rem;
}

.buttonMenu {
	position:absolute;
	width:13rem;
	background-color:orange;
	margin-top:.5rem;
	display:none;
	border-left:3px solid green;
	border-right:3px solid green;
    border-bottom:2px solid green;
}

.buttonMenuButton {
    color:palegreen;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.6rem;
    padding-bottom:0.6rem;
    background-color:orangered;
    border-top:1px solid green;
    cursor:pointer;
}

.buttonMenuButton:hover {
    color:orangered;
    background-color:palegreen;
}

.mainContent {
	background-color:white;
	border-radius:.4rem;
	border: 0.2rem solid black;
	width:60rem;
	margin-left:auto;
	margin-right:auto;
	margin-top:1rem;
	margin-bottom:1rem;
}

.bodyBlock {
	margin:1rem;
}

.bodyBlockSeparator {
    background-color:black;
    width:50%;
    height:1px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3rem;
    margin-bottom:2rem;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
