* {
    margin:0;
}

html, body {
	background-color:#7E9E8D;
}

.header-content {
	background-color:black;
	color:white;
	height:130px;
}

.non-footer {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin: 0 auto -60px;
}

.push-footer {
	color:white;

    height:60px;
}

.footer-content {
	background-color:#3A674F;
	color:white;

    height:60px;
}

#above-header-left-logo {
	background-color:white;
	margin:1px;
	width:100px;
	height:95%;
	font-size:20px;
	text-align:center;
	float:left;
	cursor:pointer;

	color:green;
	text-decoration:none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ng-cloak {
    display:none;
}

#Bojack {
    float:left;
    width:100px;
    height:100px;
}

#above-header-left-side {
    float:left;
    margin-top:73px;
    margin-left:6px;
    font-size:18px;
    font-weight:bold;
    color:white;
}

#above-header-left-side .site-author {
    font-size:12px;
    cursor:pointer;
}

#above-header-left-side .site-author:hover {
    text-decoration:underline;
}

#above-header-right-side {
	float:right;
	height:100%;
	padding-top:60px;
	padding-right:7px;
	font-size:30px;
	font-family:monospace;
	color:white;
}
.main-nav-bar-fixed #inside-header-right-side {
    display:inline-block;
}

#inside-header-right-side {
    float:right;
    font-size:18px;
    font-family:monospace;
    margin-right:8px;
    display:none;
}

#above-header-bar {
	background-color:#3A674F;
	height:100px;
	color:black;
}

.header-navigation-bar {
	background-color:#47715B;
	color:white;
	height:30px;
    border-top:1px solid white;
}

.main-nav-bar-fixed {
	position: fixed;
	top: 0;
	border-top: 0;
	z-index: 100;
	width: 100%;
}

.header-navigation-button {
	float:left;
	background-color:#47715b;
	border-right:1px solid #52866B;
	color:white;
	width:100px;
	height:100%;
	text-align:center;
	padding-right:3px;
	cursor:pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header-navigation-button:hover {
	background-color:white;
	color:#47715B;
}

.header-navigation-button-with-arrow {
	float:left;
	background-color:#47715b;
	border-right:1px solid #52866B;
	color:white;
	width:115px;
	height:100%;
	text-align:center;
	padding-right:3px;
	cursor:default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header-navigation-button-with-arrow:hover {
	background-color:white;
	color:#47715B;
}

.button-text {
	padding-top:5px;
	font-weight:bold;
    height:100%;
}

.button-text-with-arrow {
	padding-top:5px;
	width:90px;
    height:100%;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

.button-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
	float:right;
	margin-top:4px;
}

.button-arrow-hovered {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #47715B;
	float:right;
	margin-top:4px;
}

.button-menu {
	position:absolute;
	width:165px;
	display:none;
	border-left:1px solid #47715B;
	border-right:1px solid #47715B;
    border-bottom:1px solid #47715B;
	z-index:100;
}

.button-menu-button {
    color:#47715B;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    padding-top:6px;
    padding-bottom:6px;
    background-color:white;
    border-top:1px solid #47715B;
    cursor:pointer;
}

.button-menu-button:hover {
    color:white;
    background-color:#47715B;
}

.main-content {
	margin-top:10px;
	margin-bottom:10px;
}

.body-block {
	background-color:white;
	border-radius:1px;
	border:1px solid #3A674F;
	padding:15px;
}

.body-block h1 {
	margin-top:5px;
	margin-bottom:10px;
	font-size:28px;
}

.body-block-separator {
    background-color:#3A674F;
    width:50%;
    height:1px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
